@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    font-size: 1rem;
}
html{
    background-color: #e0e0e0;
}
body{
    margin: 0 auto !important;
    max-width: 1440px;
    background-color: #fff;
}
body, html{
    overflow: hidden;
    padding: 0;
    border: 0;
}
.div-footer a:hover{
    color: #c4978f;
}
.div-footer a.link-active{
    color:  #c4978f;
}
.div-footer{
    width: 100%;
    height: 200px;
    background-color: #484848;
    color: white;
    text-align: center;
    padding-top: 18px;
}
.div-footer span{
    padding: 15px 5px 0 0;
    display: inline-block;
}
.div-footer a{
color: white;
}
#currentYear{
    padding: 0;
}

@media only screen and (max-width: 768px) {
    .footer-links{
        display: flex;
        /* flex-direction: column; */    
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    .div-footer{
        height: 220px;
    }
    
}